* {
    margin: 0;
    box-sizing: border-box;
    
}

body {
    width: 100%;
    height: 100%;
    background: #FEFEFE;
    font-family: 'Space Mono', monospace;
    background: rgb(218,247,255);
    background: linear-gradient(256deg, rgba(218,247,255,1) 5%, rgba(255, 201, 255, 0.939) 100%);
}


h3 {
    font-size: 25px;
    color: rgb(56, 56, 56);
}

.typewriter {
    display: inline-block;
    border-right: 2px solid #000;
    padding-right: 4px;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: blink normal infinite .8s, text normal 5s steps(55) both;
}

@keyframes blink {
    100% {
        border-right-color: transparent;
    }
}

@keyframes text {
    100% {
        max-width: 100%;
    }
} 

form {
    width: 300px;
    margin: 200px auto;
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #ffffff65;
    color: #a66ef0;
}

.button {
    width: 250px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    background: linear-gradient(45deg, #f5a7db, #a66ef0, #d546fc);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.forgot-password {
    text-decoration: none;
    color: #a66ef0;
}


.forgot-password p {
    margin-top: 10px;
    font-size: 12px;
}

footer {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 5px;
    font-size: 13px;
}

footer a {
    text-decoration: none;
    color: #a66ef0;
}

footer a:hover {
    color:#d546fc
}


/*Page not found 404 | erro-404.html*/

#title-erro-404 {
    padding-top: 5px;
    padding-left: 15px;
    font-size: 35px;
}

section {
    display: flex;
    justify-content: space-around;
}

article {
    width: 50%;
}

.image-not-found {
    width: 80%;
    margin-left: 80px;
}

aside {
    width: 50%;
    text-align: center;
    align-items: center;
}

.subtitle-not-found {
    margin-top: 105px;
    text-align: center;
    align-items: center;
    line-height: 110px;
}

.mark {
    text-transform: uppercase;
    font-size: 70px;
}

span {
    font-size: 112px;
    font-weight: 700;
}

#button-page-not-found {
    margin-top: 20px;
    width: 360px;
    height: 50px;
    font-size: 15px;
 
}


/* Responsividade - Page not found 404 | erro-404.html*/

@media (max-width: 801px) {
    
    #title-erro-404 {
        font-size: 30px;
    }
    
    section {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    }

    article {
        width: 100%;
        text-align: center;
    }

    .image-not-found {
        width: 70%;
        margin: 40px auto;
    }

    aside {
        width: 100%;
        margin-top: -110px;
    }

    .subtitle-not-found {
        line-height: 80px;
    }

    .mark {
        font-size: 60px;
    }

    span {
        font-size: 100px;
    }

    #button-page-not-found {
        margin-top: 50px;
        width: 300px;
    }

    footer {
        margin-top: 50px;
    }

}

@media (max-width:480px) {

    aside {
        margin-top: -150px;
    }
    
    .mark {
        font-size: 50px;
    }
    
    span {
        font-size: 82px;
    }

    #button-page-not-found {
        width: 260px;
    }

    footer {
        margin-top: 180px;
    }
}

@media (max-width:320px) {
    
    .subtitle-not-found {
        line-height: 65px;
    }
    
    .mark {
        font-size: 45px;
    }

    span {
        font-size: 75px;
    }

    #button-page-not-found {
        width: 240px;
    }
}


/* Página home.html */

.notes {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 65px;
}

.add-note-article {
    background-color: #a66ef0;
    width: 960px;
    height: 286px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}


.add-note-title {
    margin: 10px 0 5px 0;
    height: 40px;
    width: 850px;
    padding-left: 12px;
    border-radius: 20px;
    border: 1px solid #d546fc;
}

.add-note-title::placeholder {
    text-align: center;
}

.add-note-text {
    resize: none;
    width: 850px;
    height: 600px;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #d546fc;
    margin-bottom: 5px;    
}

.add-note-text::placeholder {
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
}

.add-note-button, .delete-all-notes-button {
    overflow: hidden;
    margin: 3px;
    width: 850px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #d546fc;
}

.delete-all-notes-button {
    background-color: darkred;
    color: #EEE;
    font-weight: 700;
    margin-bottom: 12px;
}

.your-note {
    background-color: #CCC;
    width: 4px;
    height: 4px;
    margin: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 20px;
} 

.your-note input {
    margin: 10px 15px 5px 0;
    height: 200px;
    width: 850px;
    padding-left: 12px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid #a66ef0;
}

.your-note textarea {
    resize: none;
    border: none;
    margin-right: 15px;
    width: 850px;
    height: 600px;
    padding: 12px;
    border: 20px;
    margin-bottom: 5px;

}



